@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0%;
}

.header,.upper,.footer {
    background-color: #1F2937;
    display: flex;
}

.header {
    padding: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size:  24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;

}
.u1 {
    display: flex;
    flex-direction: column;
    gap:8px;
}
.u1 > button {
    align-self: flex-start;
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border: none;
    transition-duration: 0.4s;
}

.u1 > button:hover {
    background-color: #56dce6;
    color: white;
}

.upper {
    display: flex;
    justify-content: space-around;
    padding: 80px 170px;
    align-items: center;
    gap: 32px;
}

.uptitle {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}
.uptext,a, ul {
    font-size: 18px;
    color: #E5E7EB;
}
.upper > img {
    width: 800px;
    height: 250px;

}

a {
    text-decoration: none;

}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 190px;
    gap: 16px;
}

.midtitle {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 52px;
    align-items: center;
    flex-wrap: wrap;
}

.info > img {
    width: 250px;
    height: 250px;
    border: black solid 4px;
    border-radius: 16px;
}

.info {
    max-width: 250px;
    text-align: center;
}

/* Quote Content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 60px 190px;
}

.credit {
    align-self: flex-end;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}

/* Lower Bar */

.bar {
    display: flex;
    margin: 50px 150px;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 48px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.barhead {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.bartext {
    font-size: 16px;
    font-weight: normal;
}

.bar > button {
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    transition-duration: 0.4s;
}

.bar > button:hover {
    background-color: white;
    color: #3882f6;
}

.footer {
    justify-content: center;
    color: white;
    padding: 20px 200px;
}